/* -- HOME STYLES -- */

/* WELCOME SECTION*/

#welcome {
  text-align: center;
  width: 100%;
  height: 98vh;
  background-image: url("../images/plain-background.jpg");
  background-size: 100% 100%; /* This will scale the image proportionally to fit the entire element without cropping */
  background-repeat: no-repeat; /* Optional: Prevent the image from repeating if it's smaller than the element */
  background-position: 50% 30%; 
  color: white;
  margin-top: -2rem;
}

#welcome h1 {
  font-size: 4rem; /* Increase this value to make the font bigger */
  padding-top: 40vh; /* Decrease this value to move the text lower */
}

#welcome p {
  font-size: 2rem; /* Increase this value to make the font bigger */ 
}

/* ADVICE SECTION */

#advice {
  display: grid;
  background-color: rgba(190, 37, 45, 0.904);
  grid-template-columns: 1fr 1fr; /* formats how the artic are pesitions, so this makes the articles show side by side*/
  grid-template-rows: 3rem 1fr; /* changes the space between 'about' and the other texts*/
  padding-bottom: 0.5rem;
}

#advice h2 {
  grid-column: 1 / -1;
  text-align: center;
  color: rgb(182, 238, 50);
  padding-top: 1vh; /* Decrease this value to move the text lower */
  font-size: 3rem; /* Increase this value to make the font bigger */
}

#advice article {
  display: grid;
  gap: 0 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem 1fr;
  margin: 1rem;
  padding: 1rem;
  text-align: right;
  color: white;
}

#advice article h3 {
  grid-column: 1 / 2;
  text-align: right;
  color: rgb(139, 227, 233);
}

#advice article a {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  color: rgb(139, 227, 233);
  text-decoration: none;
}

#advice article img {
  width: 65%;
  transition: transform 0.7s;
  border-radius: 0%;
  margin-top: -20px; /* Adjust the value as needed to move the image up */
  margin-left: 50px;
}

#advice article .cooking-image {
  width: 90%; /* You can set the desired width for the cooking image */
  margin-top: -40px; /* Adjust the value as needed to move the image up */
}

#advice article img:hover {
  transform: scale(0.95);
  transition: transform 0.7s;
}

#advice article p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#advice > p {
  grid-column: 1 / -1;
}

#advice > p a {
  color: rgb(139, 227, 233);
  text-decoration: none;
}

/* ADVICE SECTION MID-SIZED SCREEN */

@media (max-width: 830px) {
  #advice {
    display: block;
  }
}

/* ADVICE SECTION SMALL SCREEN */

@media (max-width: 500px) {

  #advice article {
    display: block;
    text-align: center;
  }

  #advice article img {
    width: 50%;
  }
}

/* PURPOSE SECTION */

#purpose {
  text-align: center;
  background-image: url("../images/end-fooco.jpg");
  background-position: 50% 10%;
  background-size: 100% 300%;
  background-repeat: no-repeat; /* Optional: Prevent the image from repeating if it's smaller than the element */
  padding-top: 0.5rem;
}

#purpose h3 {
  grid-column: 1 / 3;
  color: rgb(15, 15, 15);
  font-size: 2rem; /* Increase this value to make the font bigger */
}

#purpose label {
color:rgb(255, 255, 255);
}

#purpose p {
  grid-column: 1 / 3;
  color: rgb(255, 255, 255);
  font-size: 1rem; /* Increase this value to make the font bigger */
}
#purpose p {
  text-align: center;
}

#purpose aside {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  color: white;
}

#purpose p.disclosure {
  grid-column: 2 / 3;
}

/* PURPOSE SECTION MID-SIZED SCREEN */

@media (max-width: 830px) {
  #purpose {
    display: block;
    padding-bottom: 3rem;
  }
}

/* PURPOSE SECTION SMALL SCREEN */

@media (max-width: 500px) {
  #purpose ol {
    width: 75%;
  }
}
